<% advisor = @advisor %>
<% def content(f) %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="form-inputs">
  <%= f.input :student_id, {
      collection: Student.order(:university_code),
      label_method: :university_code,
      value_method: :id,
      label: 'University code: ',
      label_html: { class: 'label' },
      prompt: 'Select a student'
      }
      %>

  <div class="label">
    <strong><%= t('subjects') %> :</strong>
  </div>

  <div id="pregrades_space">
    <div class="field form-group">
      <%= f.simple_fields_for :advisor_has_subjects do |advisor_has_subject| %>
      <%= render 'advisor_has_subject_fields', f: advisor_has_subject %>
      <% end %>
     </div>

    <div class="field form-group">
      <%= link_to_add_association 'Add subject', f, :advisor_has_subjects %>
    </div>
  </div>
</div>

<div class="actions">
<%= f.button :submit, @title %>
</div>
  <% end %>
  
  <% if @url != nil %>
  <%= simple_form_for(advisor, url: @url, html: { method: "post"},local:true) do |form| %>
  <% content(form) %>
  <% end %>

  <% else %>
  <%= simple_form_for(advisor) do |form| %>
  <% content(form) %>
  <% end %>
  <% end %>
