<div>
  <h3><%= t('admin')%></h3>

  <br>
  <%= button_to t('students'), students_path, method: :get %>
  <br>
  <%= button_to t('advisors'), advisors_path, method: :get %>
  <br>
  <%= button_to t('advices'), advices_path, method: :get %>
  <br>
  <%= button_to t('semesters'), semesters_path, method: :get %>
  <br>
  <%= button_to t('undergraduates'), undergraduates_path, method: :get %>
  <br>
  <%= button_to t('subjects'), subjects_path, method: :get %>
  <br>
  <%= button_to t('classrooms'), classrooms_path, method: :get %>
  <br>
  <%= button_to t('environments'), environments_path, method: :get %>
  <br>
  <%= button_to t('downloads'), downloads_path, method: :get %>
  <br>
  <%= button_to 'Surveys', surveys_path, method: :get %>
  <br>
</div>
