<p id="notice"><%= notice %></p>

<h1>Advices</h1>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Periodo</th>
      <th>Día</th>
      <th>Hora</th>
      <th>Materia</th>
      <th>Monitor</th>
      <th>Estudiantes</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @advices.each do |advice| %> 
    <tr>
      <td><%= advice.id %></td>
      <td><%= advice.month.name %></td>
      <td><%= advice.day_has_hour.day.name %></td>
      <td><%= advice.day_has_hour.hour.name %></td>
      <td><%= advice.subject.name unless advice.subject == nil %></td>
      <td><%= advice.advisor.student.full_name %></td>
      <td><% advice.session_has_students.each do |shs| %>
        <%= shs.student.full_name %><br>
        <% end %>
      </td>      
      <!-- Is missing      <td><%= link_to 'Ver' %></td>
           <td><%= link_to 'Editar' %></td>
           -->
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Advice', new_advice_path, class: 'btn' %> | 
<%= link_to 'See statistics', advices_statistics_path %>
