<h1>New advice</h1>

<%= form_with(url: advice_create_path, html: { method: "post" }, local: true) do |form| %>
  <div class="field">
    <%= form.label :session_id, 'Subject' %>
    <%= form.collection_select :session_id, Session.all, :id, :formatted_name, prompt: 'Select' %>
  </div>

  <div class="field">
    <%= form.label :student_id, 'University code:' %>
    <%= form.text_field :student_id %>
   </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  <% end %>
  <% if current_user.kind == 1 or current_user.kind == 0 %>
  <%= link_to 'Back', advices_path, class: 'btn' %>
  <% else %>
  <%= link_to 'Back', current_user.student, class: 'btn' %>
  <% end %>
