<p id="notice"><%= notice %></p>

<h1>Estudiantes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre completo</th>
      <th>Código</th>
      <th>Usuario</th>
      <th>Número telefónico</th>
      <th>Válido</th>
      <th>Monitor</th>
      <th>Pregrados</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.full_name %></td>
        <td><%= student.university_code %></td>
        <td><%= student.university_username %></td>
        <td><%= student.mobile_phone %></td>
        <td><%= student.is_valid %></td>
        <td><%= student.is_advisor %></td>
        <td>
          <ul>
            <% student.undergraduates.each do |undergraduate| %>
              <li><%= undergraduate.name %></li>
            <% end %>
          </ul>
        </td>
        <td><%= link_to 'Show', student, class: 'btn btn-xs' %></td>
        <td><%= link_to 'Edit', edit_student_path(student), class: 'btn-xs btn' %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn-xs btn' %></td>
        <td><%= link_to('Validate', students_validate_path(student), class:'btn-xs btn') if student.is_valid.nil? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Student', new_student_path , class: 'btn' %>
