<% if @student_state == nil %>
<p class="alert alert-warning" role="alert">You haven't been validated in our platform. It will take some days. If problems continue, please contact CAPAZ's personal.</p>
<% elsif @student_state == false %>
<p class="alert alert-warning" role="alert">Your account was rejected in our platform. Please contact CAPAZ's personal.</p>
<% else %>
<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Second name:</strong>
  <%= @student.middle_name %>
</p>

<p>
  <strong>First surname:</strong>
  <%= @student.first_surname %>
</p>

<p>
  <strong>Second surname:</strong>
  <%= @student.second_surname %>
</p>

<p>
  <strong>Universiy code:</strong>
  <%= @student.university_code %>
</p>

<p>
  <strong>University username:</strong>
  <%= @student.university_username %>
</p>

<p>
  <strong>Mobile phone:</strong>
  <%= @student.mobile_phone %>
</p>

<p>
  <strong>Advisor:</strong>
  <%= @student.is_advisor %>
</p>
<p>
  <strong>Undergraduate(s):</strong>
  <ul>
    <% @student.undergraduates.each do |undergraduate| %>
    <li><%= undergraduate.name %></li>
    <% end %>
  </ul>
</p>

<div>
  <%= link_to 'Edit Profile', edit_student_path(@student), class: 'btn btn-primary text-white' %>
</div>

<br>
<div class="card">  
  <div class="card-header">Advices</div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Periodo</th>
          <th>Día</th>
          <th>Hora</th>
          <th>Materia</th>
          <th>Monitor</th>
          <th colspan="4"></th>
        </tr>
      </thead>

      <tbody>
        <% @advices.each do |advice| %> 
        <tr>
          <td><%= advice.id %></td>
          <td><%= advice.month.name %></td>
          <td><%= advice.day_has_hour.day.name %></td>
          <td><%= advice.day_has_hour.hour.name %></td>
          <td><%= advice.subject.name unless advice.subject == nil %></td>
          <td><%= advice.advisor.student.full_name %></td>
<% if current_user.kind == 2 %>
          <td><%= link_to 'Cancel', advice_cancel_path(id: advice.id, su: @student.id), method: :delete %></td>
          <% if Survey.where(session_has_student_id: advice.id).first == nil %>
          <td><%= link_to 'Answer survey', new_survey_path(id: advice.id) %>
            <% else %>
            <td>Survey already done.</td>
            <% end %>
          </td>
          <td><%= link_to 'Qualify Advisor', advisor_grade_path(advisor_id: advice.advisor.id) %></td>
        </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>

    <div align="center">
      <%= button_to 'Ask New Advice', new_advice_path, class: 'btn btn-primary text-white', method: :get %>
    </div>
  </div>
</div>
<br>
<div>
<%= st_is_advisor() %>
<% if current_user.kind == 1 or current_user.kind == 0 %>
<br>
   <%= link_to 'Back', students_path, class: 'btn' %>
<% end %>
<% end %>
</div>
<br>
